body{
    background-image: url("Images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h2{
    color: rgb(7, 3, 194);
    font-weight: bolder;
    border-bottom: 4px solid rgb(190, 8, 84);
}
h5{
    color: rgb(37, 48, 202); 
    border-bottom: 2px solid rgb(235, 18, 90);  
}
h6{
    color:rgb(235, 18, 90);
}
.button{
    font-size: large;
    font-weight:bold;
    border-radius: 25px;
    padding: 10px;
}
h4{
    color:rgb(235, 18, 90);
}
/* span{
    padding: 10px;
} */
p{
    color: rgb(5, 20, 226);
    font-size: 12px;
}
