body{
    background-image: url("Images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h2{
    color: rgb(7, 3, 194);
    font-weight: bolder;
   border-bottom: 4px solid rgb(190, 8, 84);
}
h3{
    color: rgb(37, 48, 202);
    
}
.button{
    font-size: large;
    font-weight:bold;
    border-radius: 25px;
    padding: 10px;
}
/* {
    color:green;
    box-shadow: 3px 3px 3px gray;
    border-radius: 5px;
    padding: 5px;
} */